<%- include('../includes/head.ejs') %>
   <link rel="stylesheet" href="/css/login.css" />
   <link rel="stylesheet" href="/css/style.css" />
   </head>

   <body>
      <%- include('../includes/subHeader',{user})%>
      <div class="overlay">
         <div class="shop-name">
            <h1>HYPER SHOP</h1>
         </div>

         <!-- LOGN IN FORM by Omar Dsoky -->
         <form method="POST">
            <!--   con = Container  for items in the form-->
            <div class="con">
               <!--     Start  header Content  -->
               <header class="head-form">
                  <h2>Log In</h2>
                  <!--     A welcome message or an explanation of the login form -->
                  <p>login here using your username and password</p>
                  <!--     Display error -->
                  <div hidden id="displayError" class="alert alert-warning" role="alert"></div>
               </header>
               <!--     End  header Content  -->
               <br>
               <div class="field-set">

                  <!--   user name -->
                  <span class="input-item">
                     <i class="fa fa-user-circle"></i>
                  </span>
                  <!--   user name Input-->
                  <input class="form-input" id="txt-input" type="text" placeholder="@UserName" name="email" required>

                  <br>

                  <!--   Password -->

                  <span class="input-item">
                     <i class="fa fa-key"></i>
                  </span>
                  <!--   Password Input-->
                  <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required>

                  <!--      Show/hide password  -->
                  <span>
                     <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                  </span>


                  <br>
                  <!--        buttons -->
                  <!--      button LogIn -->
                  <button class="log-in"> Log In </button>
               </div>

               <!--   other buttons -->
               <%/*%>
               <div class="other">
                  <!--      Forgot Password button-->
                  <button class="btn submits frgt-pass">Forgot Password</button>
                  <!--     Sign Up button -->
                  <button class="btn submits sign-up">Sign Up
                     <!--         Sign Up font icon -->
                     <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </button>
                  <!--      End Other the Division -->
               </div>
               <%*/%>
               
               <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
         </form>
      </div>
      <%- include('../includes/foot')%>
   </body>
   <script src="/ajax/auth-ajax.js"></script>

   </html>