<div class="comment">
    <div class="comment-content extra-small-text">
        <span>By: &nbsp </span><span><%=comment.owner%></span>
        <div class="small-text black-color">
            <%=comment.content%>
        </div>
    </div>
    <div class="comment-response">
        <div class="arrow"></div>
        <i class="fas fa-store"></i> &nbsp <span class="extra-small-text red-color">Response from Hyper Shop</span>
        <div class="small-text black-color">
            <%=comment.response%>
        </div>
    </div>
    <div class="divide"></div>
</div>