<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-homeimage">
                <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                     Sneaker for Sneaker-head
                </div>
                <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                     Boost your style with HYPER
                </div>
            </div>
        </div>
    </div>
</div>