<!-- HEADER =============================-->
<header class="item header margin-top-0">
    <div class="wrapper">
        <%- include('./navigation',{user})%>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-pageheader">
                        <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                             Shop
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>