<div class="card sidebar-menu mb-4">
    <div class="card-header">
        <h3 class="h4 card-title">Sign up timeline <a href="#" class="btn btn-sm btn-danger pull-right"><i
                    class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> January
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> February
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> March
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> April
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> May
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> June
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> July
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> August
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> September
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> October
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> November
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> December
                    </label>
                </div>
            </div>
            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
</div>