<%- include('../includes/head.ejs') %>
<link href="/css/style.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
</head>
<body>
    <%- include('../includes/subHeader', {user})%>
    <%-include("../includes/addProduct/editProductForm")%>
    <%- include('../includes/foot')%>
</body>
</html>