<div class="user-box">
  <div class="user-info">
    <div class="user-email">
      <span><%=admin.count%></span>
    </div>
    <div class="user-description"><%=admin.name%></div>
  </div>
  <div class="actions">
    <a href="/admins/<%=admin._id%>">
      <button class="btn btn-default btn-sm btn-primary">
        <i class="fa fa-pencil" style="margin-right: 5px"></i>Detail
      </button>
    </a>
  </div>
</div>
