<tr>
    <td class="table-plus">
        <img src="vendors/images/product-1.jpg" width="70" height="70" alt="">
    </td>
    <td>
        <h5 class="font-16">Shirt</h5>
        by John Doe
    </td>
    <td>Black</td>
    <td>M</td>
    <td>$1000</td>
    <td>1</td>
    <td>
        <div class="dropdown">
            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                <i class="dw dw-more"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                <div class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</div>
                <div class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</div>
                <div class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</div>
            </div>
        </div>
    </td>
</tr>