<div class="box container">
    <form method="get" action="/shop">
        <h1>Add Product</h1>
        <div class="content py-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">Product name</label>
                        <input id="firstname" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Detail description</label>
                        <input id="lastname" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- /.row-->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="company">Brand</label>
                        <input id="company" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="street">Price</label>
                        <input id="street" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="company">Color</label>
                        <input id="company" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="street" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- /.row-->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="city">Height</label>
                        <input id="city" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="zip">Closure</label>
                        <input id="zip" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="state">Material</label>
                        <select id="state" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select id="country" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="phone">Gender</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Kids
                        </label>
                    </div>
                    <!-- <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control">
                    </div> -->
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="phone">Image</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">
                Save Product &nbsp;<iclass="fa fa-chevron-right"></i>
            </button>
        </div>
    </form>
</div>